<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blog.mapper.MenuMapper">
  
  <resultMap id="BaseResultMap" type="cn.blog.pojo.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>
 
  <sql id="Base_Column_List">
    id, name, parent_id, create_time, sort, url, icon
  </sql>
   <!-- 查询所有的目录 -->
  <select id="selectAllMenu" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"></include> from t_menu  order by sort 
  </select>
  

  
  
</mapper>